.cards {
    margin: 0 auto;
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: repeat(4, 300px); 
    grid-gap: 20px;
}

.card {
    display: flex;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.3);
    transition: all 0.25s ease;
}

.card:hover {
    transform: scale(1.05);
}

.vertical {
    flex-direction: column;
    grid-row: span 2;
    grid-column: span 1;
}

.horizontal {
    flex-direction: row;
    grid-row: span 1;
    grid-column: span 2;
}

.reverse-horizontal {
    flex-direction: row-reverse;
    grid-row: span 1;
    grid-column: span 2;
}

.horizontal .card__img, .reverse-horizontal .card__img {
    height: 100%;
}

.vertical .card__img {
    width: 100%;
}

.card__content {
    padding: 16px;
}

.card__type {
    color: #3B4055;
    padding-bottom: 0.5em;
    font-size: 22px;
}

.card__title {
    font-size: 24px;
    padding-bottom: 0.5em;
    font-weight: bold;
}

.card__date {
    font-size: 16px;
    padding-bottom: 0.5em;
    opacity: 0.5;
}

.card__excerpt {
    font-size: 18px;
    padding-bottom: 0.5em;
}

.card__tags {
    margin-top: auto;
}

.tag {
    display: inline;
    background: papayawhip;
    padding: 0.5em;
    border-radius: 0.5em;
    font-size: 12px;
    color: palevioletred;
    user-select: none;
    cursor: pointer;
}

.tag:hover {
    background: darken(papayawhip, 5%);
}

.tag:active {
    background: darken(papayawhip, 10%);
}

.tag i {
    margin-right: 4px;
}
