/* AboutUs.css */
.about-us {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    box-sizing: border-box;
}

.about-content {
    flex: 1;
    padding: 20px;
    color: #000000;
    text-align: left;
}

.about-description {
    font-size: 24px;
    line-height: 1.8;
    margin-bottom: 30px;
    font-family: "Mulish", sans-serif;
}

.about-description p:not(:last-child) {
    margin-bottom: 30px;
}

.about-image img {
    max-width: 100%;
    height: auto;
}

.about-icon {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.about-icon1,
.about-icon2,
.about-icon3 {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.about-icon-text{
    font-size: 24px;
    color: #3B4055;
    font-weight: bold;
}